<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>just do it</title>
</head>
<body>
  <h1>TO DO LIST</h1>
  <form action="{{ url_for('add')}}" method="post">
    <input type="text" name="card" placeholder="add an activity">
    <button>submit</button>
  </form>
  <div>
    <h2>Today's Goals</h2>
    <ul>
      {% for list in cards %}
      <li>{{list.text}}<a href="{{ url_for('complete', id=list.id) }}"><button>Done</button></a><a href="{{ url_for('delete', id=list.id) }}"><button>Delete</button></a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h2>Crushed</h2>
    <ul>
      {% for list in crushed %}
      <li>{{list.text}}<a href="{{ url_for('delete', id=list.id) }}"><button>Delete</button></a></li>
      {% endfor %}
    </ul>
  </div>
  <h1>all</h1>
  <ul>
    {% for n in all %}
      <li>{{ n.text }}<a href="{{ url_for('delete', id=n.id) }}"><button>Delete</button></a></li>
    {% endfor %}
  </ul>
</body>
</html>