<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>just do it</title>
</head>
<body>
  <h1>TO DO LIST</h1>
  <ul>
    {% for list in cards %}
      <li>{{list}}</li>
    {% endfor %}
  </ul>

  <form action="{{ url_for('getdata')}}" method="post">
    <input type="text" name="card" placeholder="add an activity">
    <button>submit</button>
  </form>
</body>
</html>